@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/dist/allstyles.css" />
</head>
<body>
    <h1>This is the entry page.</h1>
    <div id="fillthis"></div>
    <div id="fillthiswithjquery"></div>
    <div id="fillthiswithes6lib"></div>
    <script src="~/dist/bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>