<div class="sidebar-wrapper">
  <div class="logo">
    <a class="simple-text">
      <div class="logo-img">
        <img src="../../assets/img/angular2-logo.png" alt="">
      </div>
      Dashboard
    </a>
  </div>
  <ul class="nav">
    <li>
      <a routerLink="home">
        <i class="ti-home"></i>
        <p>Home</p>
      </a>
    </li>

    <!-- <li>
      <a routerLink="hello-world">
        <i class="ti-arrow-top-right"></i>
        <p>Hello World</p>
      </a>
    </li>

    <li>
      <a routerLink="custom-checkbox">
        <i class="ti-arrow-top-right"></i>
        <p>Custom Checkbox</p>
      </a>
    </li> -->

    <li>
      <a routerLink="dashboard">
        <i class="ti-arrow-top-right"></i>
        <p>Dashboard</p>
      </a>
    </li>

    <!-- <li>
      <a routerLink="tabs">
        <i class="ti-arrow-top-right"></i>
        <p>Tabs</p>
      </a>
    </li> -->

  </ul>
</div>
