<div class="container">
  <div class="title">
    <h1 i18n="@@homeTitle">
      Tutorials
    </h1>
  </div>
  <div class="paragraphs">
    <p i18n="@@FirstParagraphTutorials">
      <b><a href="https://angular-templates.io/tutorials/about/firebase-authentication-with-angular" target="_blank">Firebase Authentication with Angular</a></b>: When developing web applications, any
      type of authentication feature is necessary. If you think of the many social
      platforms and email sign in options available, authentication looks like a
      very complex task. In this Angular 5 tutorial we will explore how to setup
      an email/password as well as social login authentication workflows for
      Angular 5 apps using AngularFire2 library.
    </p>
    <p i18n="@@SecondParagraphTutorials">
      <b><a href="https://angular-templates.io/tutorials/about/learn-angular-from-scratch-step-by-step" target="_blank">Learn Angular from scratch step by step</a></b>: Angular step by step tutorial
      covering from basic concepts of Angular Framework to building a complete
      Angular 5 app using Angular Material components. We will go through the main
      building blocks of an Angular application as well as the best practices for
      building a complete app with Angular. Also, this tutorial shows how to setup
      your development environment and workflow so you can start developing Angular
      apps right away.
    </p>
    <p i18n="@@ThirdParagraphTutorials">
      <b><a href="https://angular-templates.io/tutorials/about/angular-forms-and-validations" target="_blank">Angular 5 Forms and Validations</a></b>: We created this angular forms
      tutorial to help you learn everything about Angular forms validations in
      angular 5 apps. These angular forms examples are updated using the best
      (coding) practices to build Angular 5 apps with Material Design.
    </p>
    <p i18n="@@FourthParagraphTutorials">
      <b><a href="https://angular-templates.io/tutorials/about/learn-how-to-build-a-mean-stack-application" target="_blank">Learn how to build a MEAN stack application in this Angular tutorial</a></b>:
      The goal of this Angular tutorial is to guide you through the coding of a
      full-stack JavaScript example application project and connecting a backend
      API to an Angular 5 front-end application employing the MEAN stack. By the
      end of this Angular advanced tutorial, you will learn about the MEAN stack
      from scratch, including how to build a RESTful API with Loopback and using
      it to perform CRUD operations on a MongoDB database through an Angular
      frontend.
    </p>
  </div>
</div>
