@{
    ViewData["Title"] = "Home Page";
}

@using Microsoft.AspNetCore.Mvc.Localization
@using Localization.Resources
@inject IHtmlLocalizer<Resource> SharedLocalizer
@inject IViewLocalizer Localizer

<div class="text-center">
    <h1 class="display-4">@SharedLocalizer["Welcome"]</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
