@{
    ViewData["Title"] = "Home Page";
}

@using Microsoft.AspNetCore.Mvc.Localization
@using Localization.Resources
@using Localization.Services
@inject LocalizationService LocalizationService
<div class="text-center">
    <h1 class="display-4">@LocalizationService.GetLocalizedHtmlString("Welcome")</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
