<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>Document</title>
  </head>
  <body>
   {% comment %}  {{ insert_me }} {% endcomment %}
    {% comment %} <img src="{% static "images/abstract_triangles-HD.jpg" %}"> {% endcomment %}
     {% if access_records %}
    <table>
      <thead>
        <th>Site name</th>
        <th>Date Access</th>
      </thead>

      {%for acc in access_records %}
      <tr>
        <td>{{acc.name}}</td>
        <td>{{acc.date}}</td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <p> No access record found</p>
    {% endif %}
  </body>
</html>
