@model IEnumerable<BackgroundService.Services.ExampleGuid>

@{
    ViewData["Title"] = "ExampleGuids";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ExampleGuids</h2>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Guid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Timestamp)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Guid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
        </tr>
    }
    </tbody>
</table>