@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <ul class="list-group" id="messagesList">
    </ul>
</div>

@section Scripts {
    <script src="~/lib/signalr.min.js"></script>
    <script>
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/githook")
            .configureLogging(signalR.LogLevel.Information)
            .build();

        console.log(connection);

        connection.on("BroadcastMessage", (url) => {
            console.log(url);
            const msg = "New event occur at " + url;
            const li = document.createElement("li");
            li.classList.add("list-group-item");
            li.textContent = msg;
            document.getElementById("messagesList").appendChild(li);
        });

        connection.start().catch(function (err) {
            return console.error(err.toString());
        });
    </script>
}